.part1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: green;
    border-radius: 20px;
    width: 50%;
}

.part1image{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 1%;
}

.part1text{
    padding: 10px;
}


.part2{
    display:flex;
}

.part2services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}

.part2part1{
    display: flex;
    background-color: gainsboro;
    width: 50%;
}

.serviceslist{
    background-color: dimgray;
    padding: 5%;
    border-radius: 10%;
    width: 25%;
}

.scimg{
    width: 20%;
    border-radius: 50%;

    
} 

.scimaglist{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.part2all{
    width: 80%;
    margin: auto;
    border-right-style: groove;
}

.part2allSecond{
    width: 80%;
    margin: auto;

}

.part2part2{
    width: 50%;
    background-color: aquamarine;
    display: grid;
}

.listName{
    padding: 1%;
    justify-content: space-between;
    width: 40%;
}

.list{
    display: flex;
}

.part2part2part1{
    display: flex;
    justify-content: space-around;
    margin: 10%;
}

.imageswidth{
    width: 25%;
    padding: 3%;
}

.secondpart5676{
   display: flex;
   width: 100%;
   justify-content: space-evenly;

}

.secondpartlist{
    background-color: cornsilk;
    width: 20%;
    
}

.textarea{
   
    width: 80%;
    height: 100px
}